[project]
	description = Code practices for Faiyaz
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/SImrul
[access "refs/for/refs/*"]
	read = group user/SImrul
	push = group user/SImrul
	label-Code-Review = -2..+2 group user/SImrul
	label-Verified = -1..+1 group user/SImrul
	rebase = group user/SImrul
	removeReviewer = group user/SImrul
	submit = group user/SImrul
[access "refs/heads/*"]
	read = group user/SImrul
	create = group user/SImrul
	push = +force group user/SImrul
	pushMerge = group user/SImrul
[access "refs/tags/*"]
	push = group user/SImrul
	push = +force group user/SImrul
